//Card
.card-color {
    background-color: rgb(177, 177, 177) !important;
}
.card-measure {
    width: 256px;
    height: 350px;
}
//Align
.txt-center {
    text-align: center !important;
}
//Font
.f-size-20 {
    font-size: 20px;
}
.f-family-verdana {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
}
//Colonne
.columns {
    margin-left: 0;
    margin-right: 0;
}
//Animazioni
@keyframes scale {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
.scale {
    animation-name: scale;
    animation-duration: 0.5s;
}
